:root {
  --white: #fff;
  --red: #ff0000;
  --grey: #808080;
  --blue: #0000ff;
  --yellow: #ffff00;
  --green: #00ff00;

  --defaultBackgroundColor: var(--grey);
  --defaultTextColor: var(--white);

  --stwhite: #fff;
  --stred: #ff0000;
  --stblue: #0000ff;
  --stgreen: #00ff00;
}

/* CONTENEDOR */
.contendor {
  background: var(--defaultBackgroundColor);
  text-align: center;
}

.contendor__titulo {
  font-size: 54px;
  color: var(--defaultTextColor);
}

.contenedor__boton {
  padding: 20px;
  font-size: 50px;
  margin-top: 20px;
}

/* COMPONENTE PLAYLISTCOUNTER */
.playlistcounter {
  background: var(--defaultBackgroundColor);
  color: var(--defaultTextColor);
  width: 40%;
  display: inline-block;
}

.playlistcounter__titulo {
  color: var(--defaultTextColor);
}

/* COMPONENTE HOURCOUNTER */
.hourcounter {
  background: var(--defaultBackgroundColor);
  color: var(--defaultTextColor);
  width: 40%;
  display: inline-block;
}

.hourcounter__titulo {
  color: var(--defaultTextColor);
}

/* COMPONENTE FILTER */

.filter {
  background: var(--defaultBackgroundColor);
  color: var(--defaultTextColor);
}

.filter__titulo {
  color: var(--defaultTextColor);
}

/* COMPONENTE PLAYLIST */
.playlist {
  background: var(--defaultBackgroundColor);
  color: var(--defaultTextColor);
  width: 20%;
  display: inline-block;
}

.playlist__titulo {
  color: var(--defaultTextColor);
}
